<!DOCTYPE html>
<html lang="en">
    <head>
        <title>FamCamp Home</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="font/bootstrap-icons.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
        <style>
            .navbar-header-text {
                font-size: 2.5rem;
                font-weight: bold;
                text-align: center;
                padding: 1rem 0;
                background-color: darkgoldenrod;
                margin-bottom: 0;
            }
            .navbar-nav {
                flex: 1;
                justify-content: space-around;
                background-color: #F5DAAB;
                margin-top: 0;
            }
            .navbar-nav .nav-item {
                flex: 1;
                text-align: center;
                padding: 1px 0px 0px 0px;
            }
            body {
              background-color: #E3EEF1;
            }
            .card-image {
              width: 362px;
              height: 200px;
            }

            #change-password-input {
                padding: 10px;
                margin: 10px;
                text-align: center;
            }

            #change-password-div {
                background-color: #F5DAAB;
                
                width: 91.5%;
                align-items: center;
                
            }

            #username-div {
                padding: 10px;
                margin-left: 21px;
            }

            #change-password-button {
                border: none;
                color: white;
                padding: 10px;
                text-align: center;
                text-decoration: none;
                font-size: 12px;
                margin: 8px 2px;
                margin-left: 140px;
                cursor: pointer; 
                background-color: blue;
                border-radius: 12px;
            }

            #changePass {
              text-align: center;
            }

        </style>
        <script>
            function checkPassword(event) {
                // Hashing -> one way matching. Not random!
                // Shared key encryption
                // Public private key encryption
          
                const newPassword = document.getElementById("newPassword").value;
                let passwordValid = false;
                let message = "";
                if (newPassword == "") {
                  message = "Please enter password"
                } else {
                  passwordValid = true;
                }
                if (!passwordValid || message !== "") {
                  document.getElementById("message").innerHTML = message;
                  event.preventDefault();
                } else {
                  let salt = CryptoJS.lib.WordArray.random(8).toString();
                  document.getElementById("salt").value = salt;
                  let hashed = CryptoJS.SHA256(newPassword + ":" + salt).toString(CryptoJS.enc.Hex);
                  //document.getElementById("salt").value = salt;
                  document.getElementById("hash").value = hashed;
                }
          
              }    
          </script>
    
<body>
    <div class="container">
        <div class="navbar-header-text">
            Hill Air Force Base FamCamp
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/aboutus">About Us</a>
                  </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/camprules">Camp Rules</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/reservation">Reservations/Pricing</a>
                    </li>
                    <span class="navbar-text nav-item">
                      <% if (!loggedIn) { %>
                          <a class="btn btn-link" href="/login" id="login">Log-in</a>
                      <% } else { %>
                          <a class="btn btn-link" href="/logout" id="logout">Log-out</a>
                      <% } %>
                  </span>
                </ul>
            </div>
        </div>
    </nav>
    <h1 style="text-align: center;">ChangePassword Page</h1>
    <div class="content" id="changePass">
        <div style="overflow-x:auto;" name="viewport" content="width=device-width, intial-scale=1">
          <div class="container-fluid vh-100" style="margin-top:10px;" >
              <div class="container p-3 my-3" id="change-password-div">
                <form action="/changePassword/changePassword" method="post" onSubmit="return checkPassword(event);">
                  <h3>Change Password</h3>
                  <div id="username-div">
                    <label for="newPassword">Username:</label>
                    <input type="username" id="username" name="username" required>
                  </div>
                  <div>
                    <label for="newPassword">New Password:</label>
                    <input type="password" id="newPassword" name="newPassword" required>
                  </div>
                  <div>
                    <input type="hidden" id="salt" name="salt">
                    <input type="hidden" id="hash" name="hash">
                    <button type="submit" id="change-password-button">Change Password</button>
                  </div>
                  <div>
                    <p id="message" class="text-danger" style="height:25px"><%- locals.message %></p>
                  </div>
                </form> 
              </div>
            </div>
        </div>
      </div>

     <!--Scripts enable navbar to function on a smaller screen with a toggle button-->
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>