<!DOCTYPE html>
<html>
<head>
    <title>FamCamp Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="font/bootstrap-icons.css">
    <style>
        .navbar-header-text {
            font-size: 2.5rem;
            font-weight: bold;
            text-align: center;
            padding: 1rem 0;
            background-color: darkgoldenrod;
            margin-bottom: 0;
        }
        .navbar-nav {
            flex: 1;
            justify-content: space-around;
            background-color: #F5DAAB;
            margin-top: 0;
        }
        .navbar-nav .nav-item {
            flex: 1;
            text-align: center;
            padding: 1px 0px 0px 0px;
        }
        body {
            background-color: #E3EEF1;
        }
        .card-image {
            width: 362px;
            height: 200px;
        }
        .login-form-container {
            border: 2px solid darkgoldenrod;
            border-radius: 10px;
            padding: 20px;
            background-color: #ffffff;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    <script>
        function checkPassword(event) {
            event.preventDefault();  // Prevent the form from submitting
            const password = document.getElementById("password").value;
            const username = document.getElementById("username").value;
            const salt = document.getElementById("salt").value;

            // Put the hashedPassword in the DOM so it can be POSTed
            const hashedPassword = CryptoJS.SHA256(password + ":" + salt).toString(CryptoJS.enc.Hex);
            document.getElementById("hashedPassword").value = hashedPassword;

            // Manually submit the form now that the password is hashed
            document.getElementById("passwordForm").submit();
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="navbar-header-text">
            Hill Air Force Base FamCamp
        </div>
    </div>
    <div class="container-fluid vh-100" style="margin-top:10px">
        <div class="" style="margin-top:100px">
            <div class="rounded d-flex justify-content-center">
                <div class="col-md-4 col-sm-12 shadow-lg p-5 login-form-container">
                    <div class="text-center">
                        <h3 class="text-goldenrod">Sign In</h3>
                    </div>
                    <form id="passwordForm" onSubmit="checkPassword(event);" method="post">
                        <div class="input-group mb-3">
                            <input id="password" type="password" class="form-control" autofocus="autofocus" placeholder="password">
                        </div>
                        <div>
                            <p id="message" class="text-danger">
                                <%= message %>
                            </p>
                        </div>
                        <input type="hidden" id="username" name="username" value="<%= username %>">
                        <input type="hidden" id="salt" value="<%= salt %>">
                        <input type="hidden" id="hashedPassword" name="hashedPassword" value="">
                        <div class="text-center">
                            <button class="btn bg-f5daab mt-2" type="submit">
                                Login
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
