
<!DOCTYPE html>
<html>
<head>
    <title>FamCamp Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="font/bootstrap-icons.css">
    <style>
        .navbar-header-text {
            font-size: 2.5rem;
            font-weight: bold;
            text-align: center;
            padding: 1rem 0;
            background-color: darkgoldenrod;
            margin-bottom: 0;
        }
        .navbar-nav {
            flex: 1;
            justify-content: space-around;
            background-color: #F5DAAB;
            margin-top: 0;
        }
        .navbar-nav .nav-item {
            flex: 1;
            text-align: center;
            padding: 1px 0px 0px 0px;
        }
        body {
          background-color: #E3EEF1;
        }
        .card-image {
          width: 362px;
          height: 200px;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
        <script>
            function checkPassword(event) {
                // Get the two passwords entered
                const password1 = document.getElementById("password1").value;
                const password2 = document.getElementById("password2").value;
                let passwordValid = false;
                let message = "";
                
                if (password1 === "") {
                    message = "Please enter password";
                } else if (password2 === "") {
                    message = "Please re-enter password";
                } else if (password1 !== password2) {
                    message = "Passwords didn't match";
                } else {
                    passwordValid = true;
                }
                
                if (!passwordValid) {
                    document.getElementById("message").innerHTML = message;
                    event.preventDefault();
                } else {
                    let salt = CryptoJS.lib.WordArray.random(128/8).toString(CryptoJS.enc.Hex);
                    document.getElementById("salt").value = salt;
                    
                    let hashed = CryptoJS.SHA256(password1 + ":" + salt).toString(CryptoJS.enc.Hex);
                    document.getElementById("hash").value = hashed;
                    
                    // Log values for debugging
                    console.log("Salt: " + salt);
                    console.log("Hash: " + hashed);
                }
            }
        </script>
</head>
<body>
    <div class="container">
        <div class="navbar-header-text">
            Hill Air Force Base FamCamp
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">About Us</a>
                  </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Camp Rules</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Reservations/Pricing</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid vh-100" style="margin-top:10px">
        <div class="" style="margin-top:100px">
            <div class="rounded d-flex justify-content-center">
                <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light-custom">
                    <div class="text-center">
                        <h3 class="text-goldenrod">Register New Account</h3>
                    </div>
                    <form onsubmit="checkPassword(event);" method="post">
                        <div class="p-4">
                            <div class="input-group mb-3">
                                <input id="username" name="username" type="text" class="form-control" placeholder="Username">
                            </div>
                            <div class="input-group mb-3">
                                <input id="password1" type="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="input-group mb-3">
                                <input id="password2" type="password" class="form-control" placeholder="Re-enter Password">
                            </div>
                            <div>
                                <input type="hidden" id="hash" name="hash">
                                <input type="hidden" id="salt" name="salt">
                                <p id="message" class="text-danger" style="height:25px"><%- locals.message %></p>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary mt-2" type="submit">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
